.input-table {
	background: none;
	border: none;
}
#navbar-titulo {
	margin-left:50px;
	margin-right:50px;
}
.desabilitar {
	display: none;
}
table, td, th {
	font-size: 13px;
}
#tabela-modal input {
	font-size: 13px;
}
.lista-itens {
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}